<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--Specifying allowedVersions prevents Fody and Costura from showing updates are available while not impacting other references.-->
  <package id="Costura.Fody" version="3.3.3" allowedVersions="(3.3.3]" targetFramework="net462" />
  <package id="Fody" version="4.2.1" allowedVersions="(4.2.1]" targetFramework="net462" developmentDependency="true" />
  <!--This is necessary due to MSBuild 16 requirement (not installed)-->
</packages>